@{
    ViewData["Title"] = "User";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@using viewModelFun.Models;
@model User;
<div class="container">
    User:
    <h4>@Model.OneUser</h4>
</div>
